@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');

body, .form-control {
    font-family: 'Poppins', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong, .nav-item > a, .btn {
    font-weight: 700;
}

.post small, .post a {
    color: rgb(185, 185, 185);
}

.nav-item > a {
    text-transform: uppercase;
}