@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,800&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:900&display=swap&subset=latin-ext');

body {
    font-family: 'Montserrat', serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 800;
}

.nav-item > a, .btn {
    font-weight: 800;
}

.btn, .form-group label {
    font-size: 90%;
    font-weight: 600;
}

.form-group .form-control {
    font-weight: 500;
}

.post h3 {
    font-weight: 900;
    font-family: 'Muli', serif;
}
.post small {
    color: rgb(185, 185, 185);
}