<section class="post bg-light p-5">
  <div class="container">
    <small>
      <span class="pr-3"><strong>Yayınlanma Tarihi:</strong> {{ post.publishedAt | date:'dd.MM.yyyy' }}</span>
      <span class="pr-3"><strong>Yazar:</strong> {{ post.owner }}</span>
      <strong>Etiketler: </strong> 
        <span *ngFor="let tag of post.tags; let i = index">
          <a [routerLink]="['/tag/' + tag.id + '/posts']">{{ tag.tagName }}</a>
          <span *ngIf="post.tags.length !== i+1" class="px-2">|</span>
        </span>
    </small>

    <h1 class="text-secondary m-0">{{ post.title }}</h1>
  </div>
</section>

<section class="p-5">
  <div class="container">
    <article class="text-secondary" [innerHTML]="post.body"></article>
  </div>
</section>

<section class="bg-light p-5">
  <div class="container">
    <h3 class="text-secondary text-uppercase">İlginizi Çekebilecek Diğer Makaleler</h3>

    <ul class="list-group list-group-flush">
      <li style="border: none" class="list-group-item text-secondary bg-transparent border-bottom rounded-0 px-0" *ngFor="let post of posts; let i = index">
        {{ (i+1) + '.' }} <a class="text-secondary" [routerLink]="['/post/' + post.id + '/' + post.slug]">{{ post.title }}</a>
      </li>
    </ul>
  </div>
</section>