<section class="post bg-light p-5">
  <div class="container">
    <small>
      <span class="pr-3"><strong>Yayınlanma Tarihi:</strong> 19 Mayıs 2019</span>
      <span class="pr-3"><strong>Yazar:</strong> Görkem Öztürk</span>
      <span><strong>Etiketler:</strong> ASP.NET Core 2.2</span>
    </small>
    <h3>
      <a href="" class="text-secondary">Angular 7 Tutorial Part 5 - Registration Form & User Service</a>
    </h3>
    <article class="text-secondary">
      In part 4 of this Angular 7 tutorial series we're going to implement authentication with a login form, 
      authentication service and an Angular route guard. We'll also setup a fake backend so we can test the example application without an API.
    </article>
  </div>
</section>
<section class="post p-5">
  <div class="container">
    <small>
      <span class="pr-3"><strong>Yayınlanma Tarihi:</strong> 19 Mayıs 2019</span>
      <span class="pr-3"><strong>Yazar:</strong> Görkem Öztürk</span>
      <span><strong>Etiketler:</strong> ASP.NET Core 2.2</span>
    </small>
    <h3>
      <a href="" class="text-secondary">Angular 7 Tutorial Part 5 - Registration Form & User Service</a>
    </h3>
    <article class="text-secondary">
      In part 4 of this Angular 7 tutorial series we're going to implement authentication with a login form, 
      authentication service and an Angular route guard. We'll also setup a fake backend so we can test the example application without an API.
    </article>
  </div>
</section>