<div class="bg-light p-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col">
        <h3 class="text-secondary text-uppercase m-0">{{ title }}</h3>
        <nav aria-small="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item"><a routerLink="/admin">Kontrol Paneli</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/posts">Makaleler</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="p-5">
  <div class="container">
    <form [formGroup]="form" autocomplete="off">
      <div class="form-group">
        <small class="font-weight-bold text-secondary">Başlık</small>
        <input type="text" class="form-control text-secondary rounded-0" formControlName="title" [ngClass]="{ 'is-invalid': submitted && field.title.errors }">
        <div *ngIf="submitted && field.title.errors" class="invalid-feedback">
          <div *ngIf="field.title.errors.required">Başlık alanının doldurulması zorunludur.</div>
          <div *ngIf="field.title.errors.maxlength">Başlık alanı en fazla 150 karakterden oluşabilir.</div>
        </div>
      </div>
      <div class="form-group">
        <small class="font-weight-bold text-secondary">Bağlantı</small>
        <input type="text" class="form-control text-secondary rounded-0" formControlName="slug" [ngClass]="{ 'is-invalid': submitted && field.slug.errors }">
        <small>
          <a href="javascript:;" (click)="slugGenerate()">Bağlantı Oluştur</a>
        </small>
        <div *ngIf="submitted && field.slug.errors" class="invalid-feedback">
          <div *ngIf="field.slug.errors.required">Bağlantı alanının doldurulması zorunludur.</div>
          <div *ngIf="field.slug.errors.maxlength">Bağlantı alanı en fazla 150 karakterden oluşabilir.</div>
        </div>
      </div>
      <div class="form-group">
        <small class="font-weight-bold text-secondary">İçerik</small>
        <ckeditor formControlName="body"></ckeditor>
        <div *ngIf="submitted && field.body.errors" class="invalid-feedback">
          <div *ngIf="field.body.errors.required">İçerik alanının doldurulması zorunludur.</div>
          <div *ngIf="field.body.errors.maxlength">İçerik alanı en fazla 250 karakterden oluşabilir.</div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isPrimary" formControlName="isPrimary">
        <label class="form-check-small text-secondary" for="isPrimary">Birincil Sayfa</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isPublished" formControlName="isPublished">
        <label class="form-check-small text-secondary" for="isPublished">Aktif Sayfa</label>
      </div>
    
      <div class="text-right">
        <button (click)="onSubmit(form)" type="submit" class="btn btn-secondary rounded-0">{{ id ? 'Güncelle' : 'Kaydet' }}</button>
      </div>
    </form>
  </div>
</div>